body, html {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
}

.imagesCircle {
    display: inline-block;
    margin-left: 35%;
    margin-top: 20%;
    width: 192px;
    height: 192px;
    border-radius: 50%;
    border-color: #424242;
    border-width: 3px;
    border-style: solid;
}

/*
.borderCircle {

}
*/


.pimg1, .pimg2, .pimg3 {
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /*
        fixed = parallax effect
        scroll = normal

    */
    background-attachment: fixed;
}

.pimg1 {
    background-image: url('https://github.com/morvai577/morvai577.github.io/blob/master/img/1.jpeg?raw=true');
    min-height: 100%;
}

.ptext {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.spacer {
    display: inline-block;
    height: 100px;
}

.ptext .border {
    background-color: #CC5A40;
    color: #fff;
    padding: 20px;
    margin-top: 5%;
}

.ptext .border.trans {
    background-color: transparent;
}

.section {
    text-align: center;
    padding: 50px 80px;
}

.section-light {
    background-color: #f4f4f4;
    color: #666;
}

.section-dark {
    background-color: #282e34;
    color: #ddd;
}

.column-one {
    display: flex;
}

.my-photo {
    flex: 1;
}

.about-col{
    flex: 1;
}

/* Disable Parallax Effect for Mobile Devices */
@media(max-width: 568px) {
    .imagesCircle {
        margin-left: 25%;
        margin-top: 32%;
    }

    .pimg1, .pimg2, .pimg3 {
        background-attachment: scroll;
    }

    .column-one {
        display: block;
    }

}
